<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Inicio</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
</head>
<body class="container py-5">
  <div class="d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
    <button class="btn btn-primary mb-3" onclick="window.location.href='/ruta/template'">Registrar resultado de revisión manual</button>
  </div>
  <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
